# 7. Preparing Excel file

In this script, we will prepare a pivoted Excel file with the results for key cities.
This will be used by other reporters and editors to find interesting patterns in the data.

In [162]:
import geopandas as gpd
import pandas as pd

In [163]:
# Loads city data to re-add extra inormation
cities = gpd.read_file("../input/GHS_STAT_UCDB2015MT_GLOBE_R2019A/GHS_STAT_UCDB2015MT_GLOBE_R2019A_V1_2.gpkg")

In [164]:
#  Keep only the desired columns
cities = cities[['ID_HDC_G0', 'UC_NM_MN', 'UC_NM_LST', 'CTR_MN_NM', 'CTR_MN_ISO',
                 'AREA', 'P15', 'E_KG_NM_LST', 'E_BM_NM_LST']]

In [165]:
# Also load the extra regional information
info = pd.read_csv("../input/country_classifications/country-and-continent-codes-list.csv", sep=";")

In [166]:
# Keeps only the desired columns
info = info[['continent', 'region', 'subregion', 'ISO-alpha3 code']]

In [179]:
# Gets hexbin data
hexbins = pd.read_csv("../output/population-by-tree-coverage-bin.csv")

In [180]:
hexbins.head()

,city_id,tr_pct_bin,pop_ft,pop_ft_pct,UC_NM_MN,CTR_MN_NM,CTR_MN_ISO,continent,INCM_CMI
0,10.0,"[0.0, 0.02)",535863.397407,0.113691,San Jose,United States,USA,Americas,HIC
1,10.0,"[0.02, 0.04)",696202.730230,0.147709,San Jose,United States,USA,Americas,HIC
2,10.0,"[0.04, 0.06)",757926.919928,0.160805,San Jose,United States,USA,Americas,HIC
3,10.0,"[0.06, 0.08)",617455.151767,0.131002,San Jose,United States,USA,Americas,HIC
4,10.0,"[0.08, 0.1)",467465.030952,0.099179,San Jose,United States,USA,Americas,HIC

In [193]:
# Adds information back to the hexbins
hexbins = hexbins.merge(cities, left_on='city_id', right_on='ID_HDC_G0', suffixes=('','_y'))\
       .merge(info, left_on='CTR_MN_ISO', right_on='ISO-alpha3 code', suffixes=('','_y'))
hexbins = hexbins.drop(columns=[col for col in hexbins.columns if '_y' in col ])

In [194]:
# Creates a pivot table
distributions = hexbins.pivot(index='city_id', columns='tr_pct_bin', values='pop_ft_pct').reset_index().fillna(0).round(3)

In [195]:
# Rename columns so it's more friendly
def interval_to_string(interval):
    start = float(interval.split(',')[0][1:]) * 100
    end = float(interval.split(',')[1][:-1]) * 100
    return f"{round(start)}% – {round(end)}%"

# Apply the function to the column
distributions = distributions.rename(columns={ colname: interval_to_string(colname) for colname in distributions.columns[1:] })

In [196]:
# Gets the most common bin
# All rows (:)
# Starting from the column with name '0% – 2%' ('0% – 2%':)
distributions['most_common'] = distributions.loc[:, '0% – 2%':].idxmax(axis=1)

In [197]:
# Gets the lower bound of the most common place by splitting the resulting string
# and then getting the first element. Removes the % sign and casts as int.
distributions['most_common_lower_bound'] = distributions.most_common.str.split('–')\
                                              .apply(lambda x: int(x[0].strip().split('%')[0]))

In [198]:
# Joins back the infomrative columns
distributions = distributions.merge(hexbins, on='city_id').drop_duplicates(subset='city_id')\
    .drop(['tr_pct_bin', 'pop_ft', 'pop_ft_pct', 'ID_HDC_G0'], axis=1)

In [200]:
# Renames and orders so it's more friendly
distributions.columns

Index(['city_id', '0% – 2%', '2% – 4%', '4% – 6%', '6% – 8%', '8% – 10%',
       '10% – 12%', '12% – 14%', '14% – 16%', '16% – 18%', '18% – 20%',
       '20% – 22%', '22% – 24%', '24% – 26%', '26% – 28%', '28% – 30%',
       '30% – 32%', '32% – 34%', '34% – 36%', '36% – 38%', '38% – 40%',
       '40% – 42%', '42% – 44%', '44% – 46%', '46% – 48%', '48% – 50%',
       '50% – 52%', '52% – 54%', '54% – 56%', '56% – 58%', '58% – 60%',
       '60% – 62%', '62% – 64%', '64% – 66%', '66% – 68%', '68% – 70%',
       '70% – 72%', '72% – 74%', '74% – 76%', '76% – 78%', '78% – 80%',
       '80% – 82%', '82% – 84%', '84% – 86%', '86% – 88%', '88% – 90%',
       '90% – 92%', '92% – 94%', '94% – 96%', '96% – 98%', '98% – 100%',
       'most_common', 'most_common_lower_bound', 'UC_NM_MN', 'CTR_MN_NM',
       'CTR_MN_ISO', 'continent', 'INCM_CMI', 'ID_HDC_G0', 'UC_NM_LST', 'AREA',
       'P15', 'E_KG_NM_LST', 'E_BM_NM_LST', 'region', 'subregion',
       'ISO-alpha3 code'],
      dtype='object')

In [205]:
distributions = distributions.rename(columns={
    "city_id": "City unique id",
    "most_common": "Most people live in areas with _% tree coverage",
    "most_common_lower_bound": "Most people live in areas with _% tree coverage (lower bound, use for sorting)",
    "UC_NM_MN": "Main city name",
    "UC_NM_LST": "Cities in area",
    "CTR_MN_NM": "Main country name",
    "CTR_MN_ISO": "Main country ISO3 code",
    "continent": "Continent",
    "region": "Region",
    "subregion": "Subregion",
    "INCM_CMI": "Income level of country",
    "AREA": "Area in square kms",
    "P15": "Population estimate (2015, satellite model)",
    "E_KG_NM_LST": "List of climates (Köppen-Geiger)",
    "E_BM_NM_LST": "List of biomes (WWF)"
})

In [212]:
# Reorder columns
distributions = distributions[
    [
           'City unique id',
           'Main city name', 'Cities in area', 'Main country name', 'Main country ISO3 code',
           'Continent','Region', 'Subregion', 
           'Income level of country',
           'Area in square kms', 'Population estimate (2015, satellite model)',
           'List of climates (Köppen-Geiger)', 'List of biomes (WWF)',
            'Most people live in areas with _% tree coverage',
           'Most people live in areas with _% tree coverage (lower bound, use for sorting)',
            '0% – 2%', '2% – 4%', '4% – 6%', '6% – 8%',
           '8% – 10%', '10% – 12%', '12% – 14%', '14% – 16%', '16% – 18%',
           '18% – 20%', '20% – 22%', '22% – 24%', '24% – 26%', '26% – 28%',
           '28% – 30%', '30% – 32%', '32% – 34%', '34% – 36%', '36% – 38%',
           '38% – 40%', '40% – 42%', '42% – 44%', '44% – 46%', '46% – 48%',
           '48% – 50%', '50% – 52%', '52% – 54%', '54% – 56%', '56% – 58%',
           '58% – 60%', '60% – 62%', '62% – 64%', '64% – 66%', '66% – 68%',
           '68% – 70%', '70% – 72%', '72% – 74%', '74% – 76%', '76% – 78%',
           '78% – 80%', '80% – 82%', '82% – 84%', '84% – 86%', '86% – 88%',
           '88% – 90%', '90% – 92%', '92% – 94%', '94% – 96%', '96% – 98%',
           '98% – 100%'
    ]
]

In [213]:
# Saves as Excel
distributions.to_excel("../output/Population distribution in major cities.xlsx")